<div id="options_container">

  <MdcCard @class="standard">
    <div class="content">
      {{model.name}}

      <div class="content">
        <hr>
        {{#each model.customerLocations as |locations|}}
          {{locations.location.address}}
          <br>
          {{locations.location.city}} {{locations.location.state}} {{locations.location.postalCode}}
          <hr>
        {{/each}}
      </div>
    </div>
  </MdcCard>

  <MdcSelect @options={{meterOptions}} @style="outlined" @label="Meter" @value={{meter}} @didChange={{action "change" "meter"}} />

  <br>
  <br>

  <MdcSelect @options={{yearOptions}} @style="outlined" @label="Year" @value={{year}} @didChange={{action "change" "year"}} />
  <MdcSelect @options={{monthOptions}} @style="outlined" @label="Month" @value={{month}} @didChange={{action "change" "month"}} />

  <br>
  <br>

  <MdcButton @click={{action (mut meters) true}} @style="outlined">
    <MdcButtonLabel>
      {{#if meter}}
        {{meter}}
      {{else}}
        Meter
      {{/if}}
    </MdcButtonLabel>
    <MdcButtonIcon @icon="arrow_drop_down" />
  </MdcButton>

  <MdcMenu @open={{meters}} @anchorCorner="bottomLeft" @didSelect={{action "change" "meter2"}}>
    <MdcMenuList>
      {{#each model.customerLocations as |locations|}}
        <MdcMenuItem @class="location" @disabled=true>
          <MdcMenuItemText>{{locations.location.address}}</MdcMenuItemText>
        </MdcMenuItem>
        {{#each locations.location.meterLocations as |meterLocations|}}
          {{#if meterLocations.active}}
            <MdcMenuItem>
              <MdcMenuItemText>{{meterLocations.meter.id}} - {{meterLocations.meter.serviceType}}</MdcMenuItemText>
            </MdcMenuItem>
          {{else}}
            <MdcMenuItem @disabled=true>
              <MdcMenuItemText>{{meterLocations.meter.id}} - {{meterLocations.meter.serviceType}}</MdcMenuItemText>
            </MdcMenuItem>
          {{/if}}
          {{mdc-list-divider}}
        {{/each}}
      {{/each}}
    </MdcMenuList>
  </MdcMenu>

</div>

{{outlet}}