<p>
  <MdcButton @style="raised" @disabled={{monthlyDisabled}} @click={{action "updateChart" 0}} @label="Monthly" />
  <MdcButton @style="raised" @disabled={{dailyDisabled}} @click={{action "updateChart" 1}} @label="Daily" />
  <MdcButton @style="raised" @disabled={{hourlyDisabled}} @click={{action "updateChart" 2}} @label="Hourly" />
</p>

<div id="chart_container">
  <EmberChart @type="bar" @data={{chartData}} @options={{chartOptions}} />
</div>

{{#if true}}
  <p id="nav_buttons">
    <MdcButton @style="raised" @disabled={{navDisabled}} @click={{action "changeIndex" -500}} @leadingIcon="first_page" />
    <MdcButton @style="raised" @disabled={{navDisabled}} @click={{action "changeIndex" -1}} @leadingIcon="chevron_left" />
    <MdcButton @style="raised" @disabled={{navDisabled}} @click={{action "changeIndex" 1}} @trailingIcon="chevron_right" />
    <MdcButton @style="raised" @disabled={{navDisabled}} @click={{action "changeIndex" 500}} @trailingIcon="last_page" />
  </p>
{{/if}}