{{#each model as |author|}}

  <ul>
    <li>{{author.name}}</li>
    <ul>
      <li>publisher: {{author.publisher.name}}</li>
      <li>books</li>
      <ul>
        {{#each author.books as |book|}}
          <li>{{book.title}}</li>
        {{/each}}
      </ul>
      <li>best sellers</li>
      <ul>
        {{#each author.bestSellers as |best|}}
          <li>{{best.title}}</li>
          <li>{{best.bestSellerDate}}</li>
        {{/each}}
      </ul>
    </ul>
  </ul>

{{/each}}